---
// src/pages/notas.astro
import Layout from '../layouts/Layout.astro';
import NotasComponente from '../components/Notas.astro';
---

<Layout title="Sistema de Notas">
  <main>
    <h1>Gestión de Notas</h1>
    <NotasComponente />
  </main>
</Layout>