---
import Layout from '../layouts/Layout.astro';
import RegistroAlumnos from '../components/RegistroAlumnos.astro';
---

<Layout title="Registro de Alumnos">
    <section>
        <h2>Gestión de Inscripciones</h2>
        <p>Cargá los datos de los alumnos aquí. Los datos se guardan localmente en tu navegador.</p>
        <br />
        <RegistroAlumnos />
    </section>
</Layout>